@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.heading {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

input:disabled {
    color: black !important;
    opacity: 1 !important;
    background-color: #F5F5F5 !important;
}

textarea:disabled {
    color: black !important;
    opacity: 1 !important;
    background-color: #F5F5F5 !important;
}

.customBlocker {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden !important;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    z-index: 99900;
  }